* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  width: 65%;
  height: 70%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #191919;
  position: relative;
}

.inner-container h1 {
  color: #F6F7F8;
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  font-weight: 800;
  background-color: #191919;
  padding: 1.5%;
  border-bottom: 2px solid #F6F7F8;
  margin-bottom: 2%;
}

.score-board {
  width: 100%;
  height: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action {
  padding: 15px 20px;
}

.player {
  margin: 5%;
  width: 20%;
  height: 85%;
  display: flex;
  flex-direction: column;
  background-color: #4f772d;
  color: #F6F7F8;
}

.score {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 22px;
  background-color: #31572c;
}

.button-container {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.move-btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #90a955;
  margin: 2%;
  cursor: pointer;
  background-color: #90a955;
  color: #F6F7F8;
}

.move-btn:hover {
  background-color: #4f772d;
}

h2 {
  color: #F6F7F8;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin: 2% 0;
}

.btn-reset {
  min-width: 140px;
  padding: 15px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid #191919;
  color: #191919;
  cursor: pointer;
}

.btn-reset:hover {
  border: 3px solid #fa9500;
  color: #fa9500;
  fill: #fa9500;
}

/* @media only screen and (min-width:320px) and (max-width:767px) {

} */

@media only screen and (min-width:768px) and (max-width:1439px) {
  .inner-container {
    width: 100%;
    height: 100%;
  }

  .inner-container h1 {
    font-size: 46px;
    padding: 5%;
  }

  .score-board {
    width: 100%;
    height: 32%;
  }

  .action {
    padding: 25px 30px;
  }

  .player {
    margin: 4%;
    width: 24%;
    height: 70%;
  }

  .score {
    padding: 18px 8px;
    font-weight: 700;
    font-size: 21px;
  }

  .button-container {
    height: 20%;
  }

  .move-btn {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 3px solid #90a955;
    margin: 4%;
  }

  h2 {
    font-size: 34px;
    margin: 4%;
  }

  .btn-reset {
    min-width: 160px;
    padding: 20px 20px;
    font-size: 28px;
  }
}


/* @media only screen and (min-width:1440px) {

} */