* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player {
  margin: 10px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  background-color: #ecf39e;
}

.move-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid black;
  margin: 6px;
}